#header { 
	background: url(../images/intro.png) 50% 0 fixed; 
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding-top: 100px;
	padding-bottom: 50px;
}
#about { 
	background: url(../images/about.png) 50% 0 fixed; 
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
}
#projects { 
	background: url(../images/home.jpg) 50% 0 fixed; 
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
}
#contact { 
	background: url(../images/about.png) 50% 0 fixed; 
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
	color: #fff;
}
#footer {
	background-color: #000;
	height: auto;
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding-top: 20px;
	padding-bottom: 10px;
	color: #fff;
}

/* Non-essential demo stuff */
.hero-unit {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.media-object { width: 64px; height: 64px; padding-bottom: 30px }